<div class="cocktail-card">
  <button class="close-button" (click)="goBack()">X</button>
  
  <ng-container *ngFor="let cocktail of drinks">
    <div class="cocktail-detail cocktail-details">
    
    <div class="cocktail-image-container">
      <img src="{{ cocktail.strDrinkThumb }}/large" alt="{{ cocktail.strDrink }}" />
    </div>
    
    <div class="cocktail-info-container">
        <h2>{{ cocktail.strDrink }}</h2>
        <p><strong>Category:</strong> {{ cocktail.strCategory }}</p>
        <p *ngIf="cocktail.strIBA"><strong>IBA:</strong> {{ cocktail.strIBA }}</p>
        <p><strong>Alcohol content:</strong> {{ cocktail.strAlcoholic }}</p>
        <p><strong>Recommended cup:</strong> {{ cocktail.strGlass }}</p>
      
        <h3>Preparation Steps</h3>
        <p><strong>English:</strong> {{ cocktail.strInstructions }}</p>
      </div>
    </div>
  </ng-container>
</div>
