.close-button {
    position: absolute; 
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #cbf4fa; 
    color: white;
    border: none;
    border-radius: 50%; 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .close-button:hover {
    background-color: #b7cacd; 
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .cocktail-card {
    position: relative;
    max-width: 800px; 
    margin: 40px auto; 
    padding: 20px;
    background-color: white; 
    border: 3px solid #E0F7FA; 
    border-radius: 12px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }

  
.cocktail-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
  max-width: 900px; 
  margin: auto;
}

.cocktail-image-container {
  flex: 1; 
  max-width: 600px; 
}

.cocktail-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cocktail-info-container {
  flex: 1;
  min-width: 200px;
}

.cocktail-info-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

