<div class="gallery-container">
  <div class="cocktail-gallery">
    <div *ngFor="let cocktail of paginatedCocktails" class="cocktail-item">
      <img [src]="cocktail.strDrinkThumb + '/small'" alt="{{ cocktail.strDrink }}" class="cocktail-image" />
      <div class="cocktail-info">
        <p class="cocktail-id">ID: {{ cocktail.idDrink }}</p>
        <p class="cocktail-name">
          <a [routerLink]="['/detail/lookup.php?i=' + cocktail.idDrink]">{{ cocktail.strDrink }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="button-container button-pages">
  <button class="button-13" (click)="prevPage()" [disabled]="currentPage === 1">Prev Page</button>
  <span>  {{ currentPage }} / {{ totalPages }}  </span>
  <button class="button-13" (click)="nextPage()" [disabled]="currentPage === totalPages">Next Page</button>
</div>

<div class="button-container button-back">
  <button class="button-13" (click)="onBackClick()">
    Back to home
  </button> 
</div>